.all-outdoor__container {
  padding: 70px 0px;

  .all-outdoor__history-path {
    display: flex;
    // justify-content: center;
    align-items: center;
    p {
      padding: 10px 5px;
      font-size: 0.8em;
    }
  }
}