.camping-hiking__container {
  padding: 70px 0px;
  .camping-hiking__history-path {
    display: flex;
    width: 100%;
    align-items: center;
    p {
      padding: 10px 5px;
      font-size: 0.8em;
    }
  }
  .camping-hiking__history-path {
    display: flex;
    // justify-content: center;
    align-items: center;
    p {
      padding: 10px 5px;
      font-size: 0.8em;
    }
  }
}