.wifi-networking__container {
  padding: 70px 0px;

  .wifi-networking__history-path {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    p {
      display: flex;
      justify-content: center;
      background-color: #232f3e;
      padding: 5px 10px;
      font-size: clamp(0.8em, 1vw, 0.9rem);
      color: rgb(255, 255, 255);
      border-radius: 2px;
    }
  }
}