.coming-soon__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  .coming-soon__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
}