.electronics__container {
  background-color: green;
}
.electronics__container-heading {
  font-size: 3em;
}
.electronics__container-flex-grid {
  .electronics__container-flex-1 {
    display: flex;
    background-color: rgb(128, 83, 0);
    // width: 300px;
  }
  .electronics__container-3-grid {
    display: flex;
    justify-content: center;
    .electronics__container-3-grid-grid-1 {
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      border: 5px solid rgb(199, 164, 48);
      background-color: pink;
      padding: 50px !important;
      overflow: hidden;
    }
    .electronics__container-3-grid-grid-2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      border: 5px solid rgb(196, 23, 202);
      background-color: red;
      overflow: hidden;
      padding: 50px !important;
    }
    .electronics__container-3-grid-grid-3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      border: 5px solid rgb(138, 81, 245);
      background-color: blue;
      padding: 50px !important;
      overflow: hidden;

    }
  }
}