.electronics__container {
  background-color: rgb(247, 247, 247);
}
.electronics__container-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url('https://images.unsplash.com/photo-1554941068-a252680d25d9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-position: center;
  background-size: cover;
  padding: 0;
  // background-repeat: no-repeat;
  width: 100%;
  // mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  z-index: -1;
  margin-bottom: -100px;
  height: 500px;
  background-position: center;
  background-size: cover;
}
// /* Hide scrollbar for Chrome, Safari, and Opera */
// .electronics__container-flex-1::-webkit-scrollbar {
//   display: none;
// }
// /* Hide scrollbar for IE, Edge and Firefox */
// .electronics__container-flex-1 {
//   -ms-overlfow-style: none; 
//   scrollbar-width: none;
// }
.electronics__container-heading h1 {
  font-size: 5em;
  color: #333;
  font-family: 'Poppins', sans-serif;
}
.electronics__container-flex-grid {
  .electronics__container-flex-1 {
    display: flex;
    overflow-x: scroll;
    // padding: 10px;
    // align-items: center;
    justify-content: center;
    // padding-left: 40px;
    // background-color: rgb(128, 83, 0);
    // width: 300px;
    // grid-column-gap: 10px;

    .electronics__item-one-container {
      display: flex;
      justify-content: center;
      align-content: center;
      // width: 500px;
      height: 100%;
      // margin: 0px 20px;
      margin-bottom: 20px;
    }
  }
  .electronics__container-3-grid {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    // width: 100%;
    // align-items: center;
    .electronics__container-3-grid-grid-1 {
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr;
      justify-content: center;
      width: 100%;

      // align-items: center;
      // border: 5px solid rgb(199, 164, 48);
      // background-color: pink;
      // padding: 30px !important;
      overflow: hidden;
      .electronics__item-grid-one-container {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
      }
    }
    .electronics__container-3-grid-grid-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      // align-items: center;
      // grid-template-columns: 1fr;
      // border: 5px solid rgb(196, 23, 202);
      // background-color: red;
      overflow: hidden;
      // padding: 30px !important;

      .electronics__item-grid-two-container {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
      }
    }
    .electronics__container-3-grid-grid-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      // align-items: center;
      // grid-template-columns: 1fr;
      // border: 5px solid rgb(138, 81, 245);
      // background-color: blue;
      // padding: 30px !important;
      overflow: hidden;
      .electronics__item-grid-three-container {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
      }

    }
    .electronics__container-4-grid-grid-4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      // align-items: center;
      // grid-template-columns: 1fr;
      // border: 5px solid rgb(138, 81, 245);
      // background-color: blue;
      // padding: 30px !important;
      overflow: hidden;
      .electronics__item-grid-four-container {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
      }

    }
  }
}

@media only screen and (max-width: 600px) {
  .electronics__container-3-grid {
    display: flex;
    flex-direction: column;
  }
} 
