.global-header {
  display: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000000;
  box-shadow: 0px 0px 5px #333;
  -moz-box-shadow: 0px 0px 5px #333;
  -webkit-box-shadow: 0px 0px 5px #333;
}
.navbar {
  background-color: lightblue;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  z-index: 100000000;

  .navbar__bar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-bars {
      font-size: 2em;
    }
    .menu-title {
      margin-top: 10px;
      text-decoration: none;
      margin-left: 20px;
      font-style: italic;
      font-family: 'Bebas Neue', cursive;
      span {
        color: white;
        padding: 0;
        margin: 0;
        font-size: clamp(2em, 2vw, 1rem);
        img {
          object-fit: cover;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .header__link {
    color: white;
    text-decoration: none;
    .header__optionBasket {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 35px;
    }
    :hover {
      // background-color: red;
    }
  }
}

.menu-bars {
  margin-left: 1rem;
  font-size: 1rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #fff;
  width: 250px;
  height: 100%;
  display: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 100000000;
  // color: white;
  // color: #000;

  
}

.nav-menu.active {
  z-index: 100000000;
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 8px 0px 8px 16px; */
  list-style: none;
  height: 40px;
  padding: 5px 5px;
  // margin: -10px 0px;
  // padding-top: 20px;
  margin: 5px 0px;
  // font-size:30px;
}

.nav-text a {
  display: flex;
  // justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: clamp(0.7em, 1vw, 0.8rem);
  width: 95%;
  height: 100%;
  padding: 5px 10px;
  display: flex-start;
  font-weight: 600;
  align-items: center;
  /* padding: 10px 0px; */
  // margin-left: 3px;
  border-radius: 2px;
  background-color: lightblue;
  
  // border: 1px solid black;
}

.nav-text a:hover {
  // background-color: #ffffff;
  // color: black;
  // background-color: #7cbccf;
  border: 1px solid rgb(243, 240, 241);
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  // background-color: rgb(192, 190, 194);
  // border: white;
}
.nav-menu-items {
  width: 100%;
  // z-index: -1000;
  .navbar__items-container {
    // padding: 0px 30px;
    width: 100%;
    // box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7),
    // -5px 0 5px -5px rgba(0,0,0,0.7);
    height: 100%;
    font-weight: 400;
    p {
      margin: 0;
      padding: 0;
      font-size: 20px;
    }
  }
}

.navbar-toggle {
  background-color: #fff;
  opacity: 0.5;  
  width: 100%;
  height: 61px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 10000;
  font-size: 10px !important;
  // border-bottom: 0.5px solid rgb(255, 255, 255);
  // box-shadow: 0px 1px 1px -1px #333;
  // -moz-box-shadow: 0px 8px 2px -6px #333;
  // -webkit-box-shadow: 0px 6px 5px -6px #333;

  svg {
    // font-size: 0.8em;
  }
}

span {
  margin-left: 16px;
}