.global-header {
  display: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000000;
  box-shadow: 0px 0px 5px #333;
  -moz-box-shadow: 0px 0px 5px #333;
  -webkit-box-shadow: 0px 0px 5px #333;
}
.navbar {
  background-color: #000000;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000000;

  .navbar__bar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-bars {
      font-size: 1.2em;
    }
    .menu-title {
      text-decoration: none;
      span {
        color: white;
      }
    }
  }
  .header__link {
    color: white;
    text-decoration: none;
    .header__optionBasket {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 35px;
    }
    :hover {
      // background-color: red;
    }
  }
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #000000;
  width: 180px;
  height: 100vh;
  display: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 100000000;
  
}

.nav-menu.active {
  z-index: 100000000;
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 8px 0px 8px 16px; */
  list-style: none;
  height: 40px;
  padding: -10px 0px;
  margin: -10px 0px;
  // padding-top: 20px;
  margin: 5px 0px;
}

.nav-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  width: 95%;
  height: 100%;
  display: flex-start;
  font-weight: 600;
  align-items: center;
  /* padding: 10px 0px; */
  margin-left: 3px;
  border-radius: 3px;
  background-color: #fdfdfd;

}

.nav-text a:hover {
  // background-color: #ffffff;
  // color: black;
  // background-color: #7cbccf;
  border: 1px solid rgb(243, 240, 241);
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  // border: white;
}
.nav-menu-items {
  width: 100%;
  // z-index: -1000;
  .navbar__items-container {
    // padding: 0px 30px;
    width: 100%;
    // box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7),
    // -5px 0 5px -5px rgba(0,0,0,0.7);
    height: 100%;
    font-weight: 400;
    span {
      margin: 0;
      padding: 0;
    }
  }
}

.navbar-toggle {
  background-color: #000000;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 100000000;
  // border-bottom: 0.5px solid rgb(255, 255, 255);
  // box-shadow: 0px 1px 1px -1px #333;
  // -moz-box-shadow: 0px 8px 2px -6px #333;
  // -webkit-box-shadow: 0px 6px 5px -6px #333;

  svg {
    font-size: 0.8em;
  }
}

span {
  margin-left: 16px;
}