.home-navbar__container {
  // padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 5px;
  .home-navbar__link {
    max-width: 100%;
    p {
      text-align: left;
      padding: 5px 10px;
      display:inline-block;
      color: rgb(255, 255, 255);
      // padding:0px 80px;
      font-size: clamp(0.8em, 2vw, 0.9rem);
      border: 1px solid transparent;
      border-radius: 1px;
      &:hover {
        box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 1px;
      }
    }

  }
}

.home__container {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin-top: 50px;
  display: block;
  width: 100%;
  .home-nav__container {
   background-color: #232f3e; 
   width: 100%;
   display: flex;
   overflow-x: scroll;

  //  padding: 20px 10px;
  }
  .home__featured {
    width: 100%;
    // padding: 1em;
    display: grid;
    /* auto-fit and auto-fill */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    padding: 150px 0px;

    // align-items: center;
    // height: auto;
    // overflow-x: scroll;
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    // padding: 20px 10px;
  }
  .home__heading {
    padding: 20px;
    p {
      font-size: clamp(1.1em, 2vw, 1.3rem);
      font-weight: 540;
      color: #444 !important;
    }
  }
  .home__recommend-one-container {
    padding: 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .home__recommend-products {
      width: 100%;
      display: flex;
      overflow-x: scroll;
      padding: 20px 10px;
    }
  }
  .home__recommend-two-container {
    padding: 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .home__heading-two {
      align-items: center;
      display: flex;
      padding: 20px;
      p {
        font-size: clamp(1.1em, 2vw, 1.3rem);
        font-weight: 540;
        color: #444 !important;
      }
      a {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-size: clamp(0.9em, 1vw, 01rem);
        font-weight:500;
        color: #007185;
        padding: 0px 10px;
        &:hover {
          color: rgb(255, 94, 0);
          text-decoration: underline;
        }
      }
    }
    .home__recommend-products {
      width: 100%;
      display: flex;
      overflow-x: scroll;
      padding: 20px 10px;
    }
  }
  .home__featured-two {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding: 20px 0px;

    // align-items: center;
    // height: auto;
    // overflow-x: scroll;
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    // padding: 20px 10px;
  }
  .home__featured-three {
    width: 100%;
    // padding: 1em;
    display: grid;
    /* auto-fit and auto-fill */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
}