.outdoors__container {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}
.outdoors__container-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url('https://images.pexels.com/photos/2662816/pexels-photo-2662816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size: 100% 100%;
  object-fit: cover;
  padding: 0;
  // background-repeat: no-repeat;
  width: 100%;
  // mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  z-index: -1;
  height: 100%;
  background-position: center;
  background-size: cover;
}
// /* Hide scrollbar for Chrome, Safari, and Opera */
// .outdoors__container-flex-1::-webkit-scrollbar {
//   display: none;
// }
// /* Hide scrollbar for IE, Edge and Firefox */
// .outdoors__container-flex-1 {
//   -ms-overlfow-style: none; 
//   scrollbar-width: none;
// }
.outdoors__container-heading h1 {
  font-size: 5em;
  color: rgb(0, 51, 255);
  font-family: 'Poppins', sans-serif;
}
.outdoors__container-flex-grid {
  .outdoors__container-flex-1 {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    // padding-left: 40px;
    // background-color: rgb(128, 83, 0);
    // width: 300px;
  }
  .outdoors__container-3-grid {
    display: flex;
    justify-content: center;
    height: 50vh;

  }
}

@media only screen and (max-width: 600px) {
  .outdoors__container-3-grid {
    display: flex;
    flex-direction: column;
  }
} 
