.nav {
  display: flex;
  color: rgb(0, 0, 0);
  overflow-x: scroll;
  padding: 10px;
  padding-left: 40px;
  position: fixed;
  // top: 0;
  width: 100%;
  z-index: 10000;
  background-color: black;
  h2 {
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    opacity: 0.7;
    &:hover {
      opacity: 1;
      transform: scale(1.2);
      transition: transform 50ms ease-out;
    }
  }

}
/* Hide scrollbar for Chrome, Safari, and Opera */
.nav::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.nav {
  -ms-overlfow-style: none; 
  scrollbar-width: none;
}