.computer-tablet-template__container {
  background-color: rgb(226, 221, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 1px;
  height: 220px;
  overflow: hidden;
  // grid-gap: 20px;
  // grid-column-gap: 20px;
  // grid-row-gap: 20px;
  border: 1px solid rgb(194, 193, 194);
  .computer-tablet-template__left-container {
    background-color: white;
    height: 250px;
    width: 270px;
    .computer-tablet-template__img {
      // background-color: gray;
      height: 220px;
      // width: 250px;
      // max-width: 40%;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      
      img {
        margin: 10px;
        // width: 200px;
        // height: 200px;
        max-width: 120px;
        max-height: 120px;
      }
    }
  }
  .computer-tablet-template__right-container {
    margin-left: 10px;
    width: 90%;

    // background-color: rgb(156, 148, 148);
    .computer-tablet-template__price {
      p {
        font-size: 0.8em;
      }
    }
    .computer-tablet-template__title {
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 0.8em;
        width: 93%;
        font-weight: 600;
      }
    }
    .computer-tablet-template__desc {
        width: 90%;
      p {
        font-size: 0.7em;
      }
    }
    .computer-tablet-template__rating {
      display: flex;
      align-items: center;
      p {
        font-size: 0.7em;
      }
      .computer-tablet-template__rating-stars {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .computer-tablet-template__btn {
      button {
        cursor: pointer;
        font-size: 0.7em;
        padding: 5px 10px;
      }
    }
  }

}
