.computer-tablet__container {
  background-color: rgb(122, 128, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .computer-tablet__box-one-container {
    display: flex;
    flex-wrap: wrap;

    .computer-tablet__box-one-img {
      height: 200px;
      
      img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        
        
      }
    }
    .responsive {
      width: 100%;
      height: auto;
    }
    .computer-tablet__box-one-one {
      background-color: red;
      width: 250px;
      height: 250px;
      max-width: 50%;
    }
    .computer-tablet__box-one-two {
      background-color: rgb(21, 255, 0);
      width: 250px;
      height: 250px;
      max-width: 50%;

    }
    .computer-tablet__box-one-three {
      background-color: rgb(0, 183, 255);
      width: 250px;
      height: 250px;
      max-width: 50%;

    }
    .computer-tablet__box-one-four {
      background-color: rgb(255, 0, 170);
      width: 250px;
      height: 250px;
      max-width: 50%;

    }
  }
}