.amazon-renewed__container {
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 130px;
  align-items: center;
  .amazon-renewed__ads-one {
    // padding: 40px 0px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .amazon-renewed__heading {
    text-align: left;
    width: 100%;
    margin-left: 50px;
    font-size: 1em;
    position: sticky;
    padding: 40px 0px;
    top: 0;
    h1 {
      font-size: 1.3em;
    }
  }
  .amazon-renewed__category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    img {
      width: 200px;
      min-width: 20%;
      cursor: pointer;
      margin: 5px;
    }
  }

  .amazon-renewed__grid-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    grid-column-gap: 50px;
    .amazon-renewed__grid-item {
      display: flex;
      justify-content: center;
      align-content: center;
      // align-items: center; will display uneven height of an image if there isn't one
      // align-items: center;
      width: 300px;
      height: 100%;
    }
  }
}