.bluetooth-wireless__container {
    min-height: 100%;
    background-color: white;
    display: flex;
    padding: 70px 0px;
    // margin-bottom: 100px;
    align-items: center;
    flex-direction: column;
    position: relative;
  .bluetooth-wireless__history-path {
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
    p {
      padding: 10px 5px;
      font-size: 0.8em;
    }
  }
  .bluetooth-wireless__heading {
    text-align: left;
    width: 100%;
    margin-left: 50px;
    font-size: 1em;
    position: sticky;
    padding: 40px 0px;
    top: 0;
    h1 {
      font-size: 1.3em;
    }
  }
  .bluetooth-wireless__ads-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
    width: 100%;
    img {
      width: 100%;
      margin: 5px 0px;
    }
  }
  .bluetooth-wireless__ads-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .bluetooth-wireless__ads-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
    width: 100%;
    img {
      width: 100%;
      // margin: 5px 0px;
    }
  }
  .bluetooth-wireless__category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding: 40px 0px;
    img {
      width: 220px;
      max-width: 40%;
      cursor: pointer;
      margin: 5px;
    }
  }
  .bluetooth-wireless__headphone-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding: 40px 0px;
    img {
      width: 220px;
      max-width: 40%;
      cursor: pointer;
      margin: 5px;
    }
  }
  .bluetooth-wireless__speaker-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding: 40px 0px;
    img {
      width: 220px;
      max-width: 40%;
      cursor: pointer;
      margin: 5px;
    }
  }
  .bluetooth-wireless__brand-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding: 40px 0px;
    img {
      width: 220px;
      max-width: 40%;
      cursor: pointer;
      margin: 5px;
    }
  }
}