.featured-category__container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  width: 160px;
  height: 200px;
  // margin: 30px 0px;
  // height: 40vh;
  // overflow: hidden;
  .featured-category__image {
    border-radius: 90%;
    background-color: gray;
    overflow: hidden;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 20px 0px;
    .featured-category__image-box {
      background-position: center;
      background-size: contain;

    }
    img {
      width: 120px;
    }
  }
  .featured-category__heading {
    width: 70%;
    text-align: center;
    // height: 200px;
    p {
      width: 100px;
      // height: 200px;
    }
  }
}