.headphones__container {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  .headphones__ads-container {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .headphones__ads-two-container {
    margin: 40px 0px;
    width: 100%;
    img {
      width: 100%;
    }
  }

  .headphones__image-category {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
    img {
      width: 300px;
      max-width: 40%;
      margin: 10px;
      cursor: pointer;
    }
  }
  .headphones__image-category-two {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
    img {
      width: 300px;
      max-width: 40%;
      margin: 10px;
      cursor: pointer;
    }
  }
  .headphones__image-category-three {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
    img {
      width: 300px;
      max-width: 40%;
      margin: 10px;
      cursor: pointer;
    }
  }
  .headphones__heading {
    text-align: left;
    width: 100%;
    margin-left: 50px;
    font-size: 1em;
    position: sticky;
    padding: 40px 0px;
    top: 0;
    h1 {
      font-size: 1.3em;
    }
  }

  .headphones__image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    margin-top: 20px;
    img {
      width: 40%;
      cursor: pointer;
    }
  }
}