.headphones__container {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;


  .headphones__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    width: 100%;
    h1 {
      font-size: 3em;
    }
  }

  .headphones__image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    margin-top: 20px;
    img {
      width: 40%;
      cursor: pointer;
    }
  }
}