.musical-instruments__container {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 130px;
  .musical-instruments__heading {
    text-align: left;
    width: 100%;
    margin-left: 50px;
    font-size: 1em;
    position: sticky;
    padding: 40px 0px;
    top: 0;
  }
  .musical-instruments__flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    img {
      cursor: pointer;
    }
  }
}