.musical-instruments__container {
  background-color: rgb(255, 255, 255);
  height: 100%;
  // display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 0px;
  .musical-instruments__jump-to {
    display: flex;
    width: 100%;
    p {
      font-size: 1em;
    }
  }
  .musical-instruments__history-path {
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
    p {
      padding: 10px 5px;
      font-size: 0.8em;
    }
  }
  .musical-instruments__heading {
    text-align: left;
    width: 100%;
    margin-left: 50px;
    font-size: 1em;
    position: sticky;
    padding: 40px 0px;
    top: 0;
  }
  .musical-instruments__flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding: 40px 0px;
    img {
      // background-color: lightgray;
      width: 200px;
      max-width: 40%;
      cursor: pointer;
      margin: 5px;
    }
  }
  .musical-instruments__ads-image {
    padding: 40px 0px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .musical-instruments__brand-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding: 40px 0px;
    img {
      width: 250px;
      max-width: 40%;
      cursor: pointer;
      margin: 5px;

    }
  }
}