.tv-video__container {
  min-height: 100%;
  background-color: white;
  display: flex;
  margin-top: 130px;
  align-items: center;
  flex-direction: column;

  .tv-video__ralated-container {
    .tv-video__ralated {
    }
  }
  .tv-video__flex-box {
    // background-color: red;
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
    grid-gap: 5px;
    
    // grid-gap: 5px;

    .tv-video__product-card {
      // background-color: rgb(184, 176, 176);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
    }
  }
}