.all-handmade__container {
  .all-handmade__history-path {
    display: flex;
    // justify-content: center;
    align-items: center;
    p {
      padding: 10px 5px;
      font-size: 0.8em;
    }
  }
  .all-handmade__section-container {
    display: flex;
    flex-direction: column;
    .ads {
      img {
        width: 100%;
        
      }
    }

    .all-handmade__curated {
      .all-handmade__curated-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        
        img {
          width: 280px;
          margin: 10px;
        }
      }
    }
    .all-handmade__line-heading {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: baseline;
      padding: 40px 0px;
    }
    .all-handmade__category {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0px 0px;
      padding-bottom: 40px;
      .all-handmade__category-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        width: 900px;
        height: 100%;
        grid-gap: 10px;
        // padding: 0px 70px;
        // padding-top: 30px;
        .all-handmade__links {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          width: 180px;
          // margin: 10px;
          img {
            margin: 0px;
            padding: 0;
            width: 100%;
            // max-width: 45%;
          }
        }
      }
    }
  }
}

