.home-decor__container {
  padding: 70px 0px;

  .home-decor__history-path {
    display: flex;
    // justify-content: center;
    align-items: center;
    p {
      padding: 10px 5px;
      font-size: 0.8em;
    }
  }
  .home-decor__heading {
    max-width: 100%;
    padding: 0px 30px;
    p:nth-child(1) {
      font-weight: 600;
      font-size: 1.4rem;
   }
    p:nth-child(2) {
      color: rgb(148, 145, 145);
      font-size: .9rem;
    }
    p {
      width: 100%;
      font-size: 1rem;
      padding: 20px 0px;
    }
  }
  .home-decor__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }
  .home-decor__section-outer {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 10px;
    justify-content: center;
    grid-gap: 10px;
    .home-decor__section-links {
      margin: 5px;
      img {
        width: 300px;
      }
      p {
        font-weight: 600;
        width: 100%;
        font-size: 1.2em;
        padding: 10px 10px;
        padding: 0;
        margin: 0;
      }
    }
  }
  .home-decor__products {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    padding: 40px 10px;
  }
}