.toys-games__container {
  padding: 70px 0px;

  .toys-games__history-path {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    p {
      display: flex;
      justify-content: center;
      background-color: #232f3e;
      padding: 5px 10px;
      font-size: clamp(0.8em, 1vw, 0.9rem);
      color: rgb(255, 255, 255);
      border-radius: 2px;
    }
  }
  .toys-games__heading {
    max-width: 100%;
    padding: 0px 30px;
    p:nth-child(1) {
      font-weight: 600;
      font-size: 1.4rem;
   }
    p:nth-child(2) {
      color: rgb(148, 145, 145);
      font-size: .9rem;
    }
    p {
      width: 100%;
      font-size: 1rem;
      padding: 20px 0px;
    }
  }
  .toys-games__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }
  .toys-games__section-outer {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 10px;
    justify-content: center;
    grid-gap: 10px;
    .toys-games__section-links {
      margin: 5px;
      img {
        width: 300px;
      }
      p {
        font-weight: 600;
        width: 100%;
        font-size: 1.2em;
        padding: 10px 10px;
        padding: 0;
        margin: 0;
      }
    }
  }
  .toys-games__products {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    padding: 40px 10px;
  }
}