.wedding__container {
  padding: 70px 0px;

  .wedding__history-path {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    p {
      display: flex;
      justify-content: center;
      background-color: #232f3e;
      padding: 5px 10px;
      font-size: clamp(0.8em, 1vw, 0.9rem);
      color: rgb(255, 255, 255);
      border-radius: 2px;
    }
  }
  .wedding__section {
    .wedding__heading {
      max-width: 100%;
      padding: 0px 30px;
      p:nth-child(1) {
        font-weight: 600;
        font-size: 1.4rem;
     }
      p:nth-child(2) {
        color: rgb(148, 145, 145);
        font-size: .9rem;
      }
      p {
        width: 100%;
        font-size: 1rem;
        padding: 20px 0px;
      }
    }
    .wedding__header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0px;
    }
  }
  .wedding__section-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    // min-width: 900px;
    // width: 100%;
    .wedding__section-category {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      grid-row-gap: 10px;
      grid-gap: 10px;

      .wedding__section-links {
        margin: 5px;
        img {
          width: 300px;
        }
        p {
          font-weight: 600;
          width: 100%;
          font-size: 1.2em;
          padding: 10px 10px;
          padding: 0;
          margin: 0;
        }

      }
    }
  }
  .wedding__products {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    padding: 40px 10px;
  }
}