.car-electronics__container {
  padding: 70px 0px;
  .car-electronics__jump-to {
    display: flex;
    width: 100%;
    p {
      font-size: 1em;
    }
  }
  .car-electronics__history-path {
    display: flex;
    // justify-content: center;
    align-items: center;
    p {
      padding: 10px 5px;
      font-size: 0.8em;
    }
  }
}