// SQAURE-FEATURED STYLES
.sqaure-featured__container {
  // background-color: rgba(255, 255, 255, 0.4);
  background-color: white;
  margin: 0.4rem;
  border-radius: 3px;
  .sqaure-featured__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 300px;
    min-height: 300px;
    img {
      width: 100%;
    }

  }
  .sqaure-featured__title {
    padding: 10px 10px;
    p {
      font-weight: 600;
      color: black;
      font-size: clamp(1em, 2vw, 1rem);
    }

  }
}
.sqaure-featured__container:hover {
  transition: all 0.3s linear;
}

// MULTI_SQAURE 
.multi-sqaure__container {
  .multi-sqaure__box-one {
    
  }
}


// MULTI SQAURES
.multi-sqaure__container {
  // width: 100%;
  background-color: white;
  margin: 0.4rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  .multi-sqaure__helper {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // margin: 5px;
    justify-content: center;
    padding: 10px;

    .multi-sqaure__box-one {
      height: 100%;
      overflow: hidden;
      padding: 0px 10px;
      border-radius: 3px;
      .multi-sqaure__img {
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        width: 100%;
        height: 100px;
        border-radius: 3px;
        // background-color: red;
        margin: 2px;
        img {
          width: 90px;
          // max-width: 20%;
          background-position: center;
          background-size: cover;
          // height: 100%;
          margin: 10px;
        }
  
      }
      .multi-sqaure__title {
        display: flex;
        justify-content: center;
        align-items: center;
         padding: 10px 5px;
         width: 100%;
        p {
          color: rgb(140, 138, 138);
          font-size: clamp(0.8em, 1vw, 0.8rem);
          font-weight: 600;
          // &:hover {
          //   color:black;
          // }
        }
      }
      // .multi-sqaure__title :hover {
      //   background-color: red;
      // }
      .multi-sqaure__title:hover {
        background-color: rgb(194, 193, 193);
        border-radius: 3px;
        transition: all 0.3s linear;
        p {
          color: black;

        }
      }
    }
  }
}



// TWO PRODUCT TEMPLATE
.two-product-template__container {
  // width: 100%;
  background-color: white;
  // margin: 0.4rem;
  // border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  .two-product-template__helper {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // margin: 5px;
    justify-content: center;
    padding: 10px;

    .two-product-template__box-one {
      // background-color: red;
      // height: 160px;
      // height: 100%;
      // width: 150px;
      min-height: 150px;
      overflow: hidden;
      margin: 5px 0px;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid rgb(243, 240, 241);

      .two-product-template__img {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: 0.5rem;
        width: 100%;
        height: 110px;
        // background-color: red;
        padding: 5px;
        overflow: hidden;
        img {
          // width: 120px;
          background-position: center;
          background-size: cover;
          height: 100%;
          margin: 10px;
          height: 100%;
          // -webkit-transition: all .2s ease-in-out;
        }
        // img:hover {
        //   -webkit-transform: scale(1.8);
        // }
  
      }
      .two-product-template__title {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        // align-items: center;
         padding: 10px 5px;
         width: 100%;
        p {
          color: rgb(140, 138, 138);
          font-weight: 600;
          font-size: clamp(0.8em, 1vw, 0.8rem);
          // &:hover {
          //   color:black;
          // }
        }
        p:nth-child(1) {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
        p:nth-child(2) {
          font-weight: 500;
          color: black;
        }
      }
      // .two-product-template__title :hover {
      //   background-color: red;
      // }
      // .two-product-template__title:hover {
      //   background-color: rgb(194, 193, 193);
      //   border-radius: 3px;
      //   transition: all 0.3s linear;
      //   p {
      //     color: black;

      //   }
      // }
      &:hover {
        border: 1px solid lightgray;
        transition: all 0.3s ease;
      }
    }
  }
}



// TWO PRODUCT TEMPLATE TWO
.two-product-template-two__container {
  // width: 100%;
  background-color: white;
  margin: 0.4rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  .two-product-template-two__helper {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // margin: 5px;
    justify-content: center;
    // padding: 10px;

    .two-product-template-two__box-one {
      // height: 100%;
      min-height: 150px;
      overflow: hidden;
      margin: 5px 5px;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid rgb(243, 240, 241);
      display: flex;
      justify-content: center;
      align-items: center;

      .two-product-template-two__img {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: 0.5rem;
        width: 100%;
        // height: 100%;
        // background-color: red;
        margin: 10px;
        object-fit: cover;
        overflow: hidden;
        img {
          width: 80%;
          background-position: center;
          background-size: cover;
          // height: 50%;
          // max-width: 70%;
          // margin: 10px;
          // -webkit-transition: all .2s ease-in-out;
        }
        // img:hover {
        //   -webkit-transform: scale(1.8);
        // }
  
      }
      .two-product-template-two__title {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        // align-items: center;
         padding: 10px 5px;
         width: 100%;
        p {
          color: rgb(140, 138, 138);
          font-size: clamp(0.8em, 1vw, 0.8rem);
          font-weight: 600;
          // &:hover {
          //   color:black;
          // }
        }
        p:nth-child(1) {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
        p:nth-child(2) {
          font-weight: 500;
          color: black;
        }
      }
      // .two-product-template-two__title :hover {
      //   background-color: red;
      // }
      // .two-product-template-two__title:hover {
      //   background-color: rgb(194, 193, 193);
      //   border-radius: 3px;
      //   transition: all 0.3s linear;
      //   p {
      //     color: black;

      //   }
      // }
      &:hover {
        border: 1px solid lightgray;
        transition: all 0.3s ease;
      }
    }
  }
}





// CIRCLE FEATURED
.circle-featured__container {
  background-color: white;
  margin: 0.4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  .circle-featured__img {
    width: 220px;
    // min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      // border-radius: 50%;
      width: 100px;
      height: 100%;
      background-position: center;
      background-size: cover;

      // border-radius: 50%;
    }

  }
  .circle-featured__title {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    p {
      color: black;
      font-weight: 600;
      font-size: clamp(0.8em, 1vw, 0.8rem);
    }

  }
}

// FIRST FEATURED PRODUCT
.first-featured-product__container {
  background-color: white;
  padding: 20px;
  margin: 0.4rem;
  border-radius: 3px;
  .first-featured-product__img {
    width: 220px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      max-width: 70%;


    }
  }
}


// SECIND FEATURED PRODUCT
.second-featured-product__container {
  background-color: white;
  padding: 20px;
  margin: 0.4rem;
  border-radius: 3px;
  .second-featured-product__img {
    width: 220px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      // width: 200px;
      max-width: 70%;
    }
  }
}
